* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  text-align: center;
  margin-left: 25px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
}

[data-start],
[data-stop] {
  display: inline-block;
  padding: 15px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  border: 4px double;
  text-align: center;
}

.timer {
  display: flex;
  margin-top: 25px;
  margin-left: 25px;
}

.field {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: red;
}

.field:not(:first-child) {
  margin-left: 30px;
}

.field:not(:last-child)::after {
  display: block;
  font-size: 40px;
  line-height: 58px;
  content: ':';
  position: absolute;
  left: 67px;
  top: -8;
}

.value {
  display: inline-block;
  font-size: 50px;
  line-height: 1;
}
